.request-visit .rs-calendar-panel:not(.rs-calendar-compact) .rs-calendar-table-row:not(.rs-calendar-table-header-row) .rs-calendar-table-cell-content
{
    height: 120px;
    overflow-y: auto;
}

.request-visit .available-button {
    background-color: #5467EF;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 3px 5px 3px 5px;
    margin: 2px;
}

.local-style {
    background-color: red
}